version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag-qdrant
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  app:
    image: familorujov/rag-app:latest
    container_name: rag-app
    ports:
      - "8501:8501"
      - "8288:8288"
    volumes:
      - ./uploads:/app/uploads
    environment:
      - QDRANT_URL=http://qdrant:6333
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      - qdrant
    restart: unless-stopped

volumes:
  qdrant_data:
